.videoHeight{
    height: 60%;
}

@media  (max-width:1024px){

    .videoHeight{
        height: 60%;
    }
}

@media  (max-width:600px){

    .videoHeight{
        height: 40%;
    }
    .title{
        font-size: 2.5rem;
    }
}